{% extends 'BookClub/base.html' %}

{% block content %}
<div class="book-card">

    <div class="book-image-col">
      {% if book.image_file %}
        <img class="book-image" src="{{ book.image_file.url }}" alt="{{ book.title }} cover">
      {% else %}
        <div class="book-image-placeholder">📖</div>
      {% endif %}
      <small class="book-rating">Rating: {{ book.stylish_reviews }}</small>
    </div>

    <p class="book-title">{{ book.book_name }}</p>
    <p class="book-description">{{ book.description }}</p>

  </div>
  
  <div class="review_box">
    {% for review in book.get_all_reviews %}
    <div class="review">
    <p>{{review.reader.username}} - {{review.text}}</p>
    <small>{{review.stars}} / 10</small>
    </div>
    {% endfor %}
  </div>

  <div class="comment_box">
    {% for comment in book.get_all_comments %}
      {% if comment.reply %}
        <div class="reply">
        <p>{{comment.reader.username}} - {{comment.text}}</p>
        <small>{{comment.stylish_likes}} {{comment.stylish_dislikes}} - page {{comment.page_num}}</small>
        </div>
      {% else %}
      <div class="comment">
        <p>{{comment.reader.username}} - {{comment.text}}</p>
        <small>{{comment.stylish_likes}} {{comment.stylish_dislikes}} - page {{comment.page_num}}</small>
      </div>
      {% endif %}
    {% endfor %}
  </div>



{% endblock %}