{% extends 'mini_insta/base.html' %}


<!-- scriptlet code to display the value of the variable `Profiles` 
{{ profiles }}
-->
{% block content %}
<main class="grid-container">
    <h1>Showing {{profile.display_name}}'s Profile</h1>
    <profile class="featured">
    {% if profile.profile_image_url %}
        <img src="{{profile.profile_image_url}}" alt="{{profile.profile_image_url}}">
    {% endif %}

    <div class="profile-content">
        <small>
            {{profile.username}} joined {{profile.join_date}}
        </small>

        <p>{{profile.bio_text}}</p>
    </div>
</profile>
<main>
{% endblock %}