<!--
mini_insta/templates/mini_insta/show_profile.html 
File: show_profile.html
Author: Alex Cobb (alcobb@bu.edu), 5/28/2006
Description: Shows a single profile an a larger format
-->

{% extends 'mini_insta/base.html' %}


<!-- scriptlet code to display the value of the variable `Profiles` 
{{ profiles }}
-->
{% block content %}
<main class="grid-container">
    <h1>Showing {{profile.display_name}}'s Profile</h1>
    <profile class="featured">
    {% if profile.profile_image_url %}
        <img src="{{profile.profile_image_url}}" alt="{{profile.profile_image_url}}">
    {% endif %}

    <div class="profile-content">
        <small>
            {{profile.username}} joined {{profile.join_date}}
        </small>

        <p>{{profile.bio_text}}</p>


    </div>

    <div class="stats">
        <small>Followers: </small>
        <small>Following: </small>
    </div>
</profile>
<h2>Posts</h2>
    <!-- Posts:
    {{profile.get_all_posts}} -->
 
    {% for post in profile.get_all_posts %}
    <a href="{% url 'post' post.pk %}">
    <post>
        <div>
        <h1>{{post.profile.username}}</h1>
        <strong>{{post.caption}}</strong>
        {% for photo in post.get_all_photos %}
            <img src="{{ photo.get_image_url }}" alt="photo">
        {% endfor %}
        </div>
    </post>
    </a>
    {% endfor %}
<main>
{% endblock %}